:root {
    --color-background: #{$grey-0};

    --color-brand: #{$blue-7};
    --color-brand-dark: #{$blue-8};
    --color-brand-light: #{$blue-6};

    --color-text-strong: #{$grey-9};
    --color-text-weak: #{$grey-7};
    --color-stroke-strong: #{$grey-5};
    --color-stroke-weak: #{$grey-4};
    --color-fill: #{$grey-1};

    --color-success-text-strong: #{$green-9};
    --color-success-text-weak: #{$green-7};
    --color-success-stroke-strong: #{$green-5};
    --color-success-stroke-weak: #{$green-4};
    --color-success-fill: #{$green-1};

    --color-warning-text-strong: #{$amber-9};
    --color-warning-text-weak: #{$amber-7};
    --color-warning-stroke-strong: #{$amber-5};
    --color-warning-stroke-weak: #{$amber-4};
    --color-warning-fill: #{$amber-1};

    --color-error-text-strong: #{$red-9};
    --color-error-text-weak: #{$red-7};
    --color-error-stroke-strong: #{$red-5};
    --color-error-stroke-weak: #{$red-4};
    --color-error-fill: #{$red-1};

}

@media (prefers-color-scheme: dark) {

    // :root,
    // .dark {
    //     --color-background: #{$blue-10};
    //     --color-brand: #{$blue-7};
    //     --color-brand-dark: #{$blue-8};
    //     --color-brand-light: #{$blue-6};
    //     --color-text-strong: #{$grey-1};
    //     --color-text-weak: #{$grey-2};
    //     --color-stroke-strong: #{$grey-4};
    //     --color-stroke-weak: #{$grey-7};
    //     --color-fill: #{$grey-9};
    // }
}

/**********************
  HTML element styles 
**********************/
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-background);
}

body,
button,
input,
select,
optgroup,
textarea {
    color: var(--color-text-weak);
    font-family: $font-sans;
    font-size: $txt-s;
    line-height: $lh-m;
    margin: 0;
    text-rendering: optimizeLegibility;

    @media screen and (min-width: $md) {
        font-size: $txt-m;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    color: var(--color-text-strong);
    letter-spacing: -1px;
    line-height: $lh-s;
    margin-bottom: $sp-s;
    margin-top: 1em;
}

h1,
.h1 {
    font-size: $txt-3xl;

    @media screen and (min-width: $md) {
        font-size: $txt-4xl;
    }

    @media screen and (min-width: $lg) {
        font-size: $txt-5xl;
    }
}

h2,
.h2 {
    font-size: $txt-2xl;

    @media screen and (min-width: $md) {
        font-size: $txt-3xl;
    }

    @media screen and (min-width: $lg) {
        font-size: $txt-4xl;
    }
}

h3,
.h3 {
    font-size: $txt-xl;

    @media screen and (min-width: $md) {
        font-size: $txt-2xl;
    }

    @media screen and (min-width: $lg) {
        font-size: $txt-3xl;
    }
}

h4,
.h4 {
    font-size: $txt-l;

    @media screen and (min-width: $md) {
        font-size: $txt-xl;
    }

    @media screen and (min-width: $lg) {
        font-size: $txt-2xl;
    }
}

h5,
.h5 {
    font-size: $txt-m;

    @media screen and (min-width: $lg) {
        font-size: $txt-l;
    }
}

h6,
.h6 {
    font-size: $txt-m;
}

p {
    margin-top: 0;
    margin-bottom: $sp-m;
}

blockquote {
    border-top: 4px solid var(--color-stroke-weak);
    border-bottom: 4px solid var(--color-stroke-weak);
    border-radius: $radius-s;
    padding: $sp-m;
    margin: $sp-m 0;

    cite {
        display: block;
        text-align: right;
    }
}

address {
    margin-bottom: $sp-m;
}

pre {
    background-color: var(--color-fill);
    font-family: $font-mono;
    font-size: 13px;
    line-height: $lh-s;
    margin-bottom: $sp-m;
    max-width: 100%;
    overflow: auto;
    padding: $sp-m;

    @media screen and (min-width: $md) {
        font-size: 16px;
    }
}

code,
kbd,
tt,
var {
    font-family: $font-mono;
}

abbr,
acronym {
    border-bottom: 1px dotted var(--color-stroke-strong);
    cursor: help;
}

mark,
ins {
    background: var(--color-fill);
    text-decoration: none;
}

hr {
    background-color: var(--color-stroke-weak);
    border: 0;
    height: 1px;
    margin: $sp-m 0;
}

ul,
ol {
    margin: $sp-m 0;
    padding-left: $sp-l;

    ul,
    ol {
        margin: $sp-xs 0;
    }

    &.naked {
        list-style: none;
        padding: 0;
    }
}

embed,
iframe,
object,
video {
    display: block;
    max-width: 100%;
    margin: $sp-l auto;
}

img {
    height: auto;
    max-width: 100%;
}

svg {
    fill: currentColor;
}

a {
    color: var(--color-brand);
    transition: all .2s ease-out;

    &:hover,
    &:focus,
    &:active {
        color: var(--color-brand-light);
    }

    &:hover {
        text-decoration: none;
    }

    &:focus {
        outline: 2px solid var(--color-brand);
    }

    &.naked {
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            color: var(--color-brand-light);
        }
    }
}

input,
select,
button,
textarea {
    background-color: var(--color-background);
    border: 2px solid var(--color-stroke-strong);
    border-radius: $radius-s;
    line-height: $lh-m;
    min-height: 47px;
    padding: $sp-xs $sp-s;
    transition: border-color .2s ease-out;
    outline-offset: 2px;

    &:hover,
    &:focus {
        border-color: var(--color-text-weak);
        box-shadow: $shadow-s;
    }

    &:focus {
        outline: 2px solid var(--color-text-weak);
    }
}

input[type="checkbox"],
input[type="radio"] {
    // appearance: none;
    border: 2px solid red;
    min-height: auto;
    height: $txt-m;
    padding: $sp-xs;
    width: $txt-m;

    &:hover,
    &:focus {
        box-shadow: none;
    }
}

fieldset {
    background-color: var(--color-background);
    border: 2px solid var(--color-stroke-strong);
    border-radius: $radius-s;
    margin: 0 0 $sp-m;
    padding: $sp-xs $sp-s;
}

textarea {
    margin-bottom: $sp-m;
    max-width: 100%;
    min-height: 150px;
    width: 100%;

    &:focus {
        outline: none;
    }
}

button,
input[type="submit"] {
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    color: var(--color-fill);
    cursor: pointer;
    font-weight: bold;
    transition: background-color .2s ease-out, border-color .2s ease-out;

    &:hover,
    &:focus {
        background-color: var(--color-brand-light);
        border-color: var(--color-brand-light);
    }

    &:focus {
        outline: 2px solid var(--color-brand-light);
    }

    &:active {
        background-color: var(--color-brand-dark);
        border-color: var(--color-brand-dark);
        outline-color: var(--color-brand-dark);
    }

    &.outline {
        background-color: transparent;
        color: var(--color-brand);

        &:hover,
        &:focus {
            border-color: var(--color-brand-light);
            color: var(--color-brand-light);
        }

        &:active {
            border-color: var(--color-brand-dark);
            outline-color: var(--color-brand-dark);
        }
    }

    &.naked {
        background-color: transparent;
        border-color: transparent;
        color: var(--color-brand);
        text-decoration: underline;

        &:hover,
        &:focus {
            color: var(--color-brand-light);
            box-shadow: none;
        }

        &:active {
            color: var(--color-brand-dark);
        }
    }
}