:root {
  --color-background: #f9fafb;
  --color-brand: #1d4ed8;
  --color-brand-dark: #1e40af;
  --color-brand-light: #2563eb;
  --color-text-strong: #111827;
  --color-text-weak: #374151;
  --color-stroke-strong: #6b7280;
  --color-stroke-weak: #9ca3af;
  --color-fill: #f3f4f6;
  --color-success-text-strong: #14532d;
  --color-success-text-weak: #15803d;
  --color-success-stroke-strong: #22c55e;
  --color-success-stroke-weak: #4ade80;
  --color-success-fill: #dcfce7;
  --color-warning-text-strong: #78350f;
  --color-warning-text-weak: #b45309;
  --color-warning-stroke-strong: #f59e0b;
  --color-warning-stroke-weak: #fbbf24;
  --color-warning-fill: #fef3c7;
  --color-error-text-strong: #7f1d1d;
  --color-error-text-weak: #b91c1c;
  --color-error-stroke-strong: #ef4444;
  --color-error-stroke-weak: #f87171;
  --color-error-fill: #fee2e2;
}

/**********************
  HTML element styles 
**********************/
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-weak);
  font-family: "system-ui", "BlinkMacSystemFont", "-apple-system", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif";
  font-size: 0.875rem;
  line-height: 1.6;
  margin: 0;
  text-rendering: optimizeLegibility;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 1.0625rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  color: var(--color-text-strong);
  letter-spacing: -1px;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 1em;
}

h1,
.h1 {
  font-size: 2.5rem;
}
@media screen and (min-width: 768px) {
  h1,
.h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  h1,
.h1 {
    font-size: 3.75rem;
  }
}

h2,
.h2 {
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  h2,
.h2 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1024px) {
  h2,
.h2 {
    font-size: 3rem;
  }
}

h3,
.h3 {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  h3,
.h3 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  h3,
.h3 {
    font-size: 2.5rem;
  }
}

h4,
.h4 {
  font-size: 1.25rem;
}
@media screen and (min-width: 768px) {
  h4,
.h4 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  h4,
.h4 {
    font-size: 2rem;
  }
}

h5,
.h5 {
  font-size: 1.0625rem;
}
@media screen and (min-width: 1024px) {
  h5,
.h5 {
    font-size: 1.25rem;
  }
}

h6,
.h6 {
  font-size: 1.0625rem;
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

blockquote {
  border-top: 8px solid var(--color-brand);
  border-bottom: 8px solid var(--color-brand);
  border-radius: 4px;
  padding: 1.5rem;
  margin: 1.5rem 0;
}
blockquote cite {
  display: block;
  text-align: right;
}

address {
  margin-bottom: 1.5rem;
}

pre {
  font-family: "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", "monospace";
  line-height: 1.2;
  margin-bottom: 1.5rem;
  max-width: 100%;
  overflow: auto;
  padding: 1.5rem;
}

code,
kbd,
tt,
var {
  font-family: "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", "monospace";
}

abbr,
acronym {
  border-bottom: 1px dotted var(--color-stroke-strong);
  cursor: help;
}

mark,
ins {
  background: var(--color-fill);
  text-decoration: none;
}

hr {
  background-color: var(--color-stroke-weak);
  border: 0;
  height: 1px;
  margin: 1.5rem 0;
}

ul,
ol {
  margin: 1.5rem 0;
  padding-left: 2rem;
}
ul ul,
ul ol,
ol ul,
ol ol {
  margin: 0.5rem 0;
}
ul.naked,
ol.naked {
  list-style: none;
  padding: 0;
}

embed,
iframe,
object,
video {
  display: block;
  max-width: 100%;
  margin: 2rem auto;
}

img {
  height: auto;
  max-width: 100%;
}

svg {
  fill: currentColor;
}

a {
  color: var(--color-brand);
  transition: all 0.25s ease-in-out;
}
a:hover, a:focus, a:active {
  color: var(--color-brand-light);
}
a:focus {
  outline: thin dotted var(--color-brand);
}
a:hover, a:active {
  outline: 0;
}
a.naked {
  text-decoration: none;
}
a.naked:hover, a.naked:focus, a.naked:active {
  color: var(--color-brand-light);
}

/*******************
  Layout
********************/
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-start {
  justify-content: flex-start;
}

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.grid {
  display: grid;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/*******************
  Accessibility
********************/
.screen-reader-text {
  border-width: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*******************
  Text 
********************/
.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.txt-2xs {
  font-size: 0.625rem;
}

.txt-xs {
  font-size: 0.75rem;
}

.txt-s {
  font-size: 0.875rem;
}

.txt-m {
  font-size: 1.0625rem;
}

.txt-l {
  font-size: 1.25rem;
}

.txt-xl {
  font-size: 1.5rem;
}

.txt-2xl {
  font-size: 2rem;
}

.txt-3xl {
  font-size: 2.5rem;
}

.txt-4xl {
  font-size: 3rem;
}

.txt-5xl {
  font-size: 3.75rem;
}

.lh-0 {
  line-height: 0;
}

.lh-1 {
  line-height: 1;
}

.lh-s {
  line-height: 1.2;
}

.lh-m {
  line-height: 1.6;
}

.lh-l {
  line-height: 1.75;
}

/*******************
  Colors
********************/
.white {
  color: #fff;
}

.brand {
  color: var(--color-brand);
}

.brand-light {
  color: var(--color-brand-light);
}

.brand-dark {
  color: var(--color-brand-dark);
}

.text-strong {
  color: var(--color-text-strong);
}

.text-weak {
  color: var(--color-text-weak);
}

.stroke-strong {
  color: var(--color-stroke-strong);
}

.stroke-weak {
  color: var(--color-stroke-weak);
}

.fill {
  color: var(--color-fill);
}

.success-text-strong {
  color: var(--color-success-text-strong);
}

.success-text-weak {
  color: var(--color-success-text-weak);
}

.success-stroke-strong {
  color: var(--color-success-stroke-strong);
}

.success-stroke-weak {
  color: var(--color-success-stroke-weak);
}

.success-fill {
  color: var(--color-success-fill);
}

.warning-text-strong {
  color: var(--color-warning-text-strong);
}

.warning-text-weak {
  color: var(--color-warning-text-weak);
}

.warning-stroke-strong {
  color: var(--color-warning-stroke-strong);
}

.warning-stroke-weak {
  color: var(--color-warning-stroke-weak);
}

.warning-fill {
  color: var(--color-warning-fill);
}

.error-text-strong {
  color: var(--color-error-text-strong);
}

.error-text-weak {
  color: var(--color-error-text-weak);
}

.error-stroke-strong {
  color: var(--color-error-stroke-strong);
}

.error-stroke-weak {
  color: var(--color-error-stroke-weak);
}

.error-fill {
  color: var(--color-error-fill);
}

.bg-brand {
  background-color: var(--color-brand);
}

.bg-brand-light {
  background-color: var(--color-brand-light);
}

.bg-brand-dark {
  background-color: var(--color-brand-dark);
}

.bg-text-strong {
  background-color: var(--color-text-strong);
}

.bg-text-weak {
  background-color: var(--color-text-weak);
}

.bg-stroke-strong {
  background-color: var(--color-stroke-strong);
}

.bg-stroke-weak {
  background-color: var(--color-stroke-weak);
}

.bg-fill {
  background-color: var(--color-fill);
}

.bg-success-text-strong {
  background-color: var(--color-success-text-strong);
}

.bg-success-text-weak {
  background-color: var(--color-success-text-weak);
}

.bg-success-stroke-strong {
  background-color: var(--color-success-stroke-strong);
}

.bg-success-stroke-weak {
  background-color: var(--color-success-stroke-weak);
}

.bg-success-fill {
  background-color: var(--color-success-fill);
}

.bg-warning-text-strong {
  background-color: var(--color-warning-text-strong);
}

.bg-warning-text-weak {
  background-color: var(--color-warning-text-weak);
}

.bg-warning-stroke-strong {
  background-color: var(--color-warning-stroke-strong);
}

.bg-warning-stroke-weak {
  background-color: var(--color-warning-stroke-weak);
}

.bg-warning-fill {
  background-color: var(--color-warning-fill);
}

.bg-error-text-strong {
  background-color: var(--color-error-text-strong);
}

.bg-error-text-weak {
  background-color: var(--color-error-text-weak);
}

.bg-error-stroke-strong {
  background-color: var(--color-error-stroke-strong);
}

.bg-error-stroke-weak {
  background-color: var(--color-error-stroke-weak);
}

.bg-error-fill {
  background-color: var(--color-error-fill);
}

/*******************
  Spacing
********************/
.p-0 {
  padding: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.pt-0 {
  padding-top: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-0 {
  padding-bottom: 0;
  padding-top: 0;
}

.p-2xs {
  padding: 0.25rem;
}

.pb-2xs {
  padding-bottom: 0.25rem;
}

.pl-2xs {
  padding-left: 0.25rem;
}

.pr-2xs {
  padding-right: 0.25rem;
}

.pt-2xs {
  padding-top: 0.25rem;
}

.px-2xs {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-2xs {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}

.p-xs {
  padding: 0.5rem;
}

.pb-xs {
  padding-bottom: 0.5rem;
}

.pl-xs {
  padding-left: 0.5rem;
}

.pr-xs {
  padding-right: 0.5rem;
}

.pt-xs {
  padding-top: 0.5rem;
}

.px-xs {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-xs {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.p-s {
  padding: 1rem;
}

.pb-s {
  padding-bottom: 1rem;
}

.pl-s {
  padding-left: 1rem;
}

.pr-s {
  padding-right: 1rem;
}

.pt-s {
  padding-top: 1rem;
}

.px-s {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-s {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.p-m {
  padding: 1.5rem;
}

.pb-m {
  padding-bottom: 1.5rem;
}

.pl-m {
  padding-left: 1.5rem;
}

.pr-m {
  padding-right: 1.5rem;
}

.pt-m {
  padding-top: 1.5rem;
}

.px-m {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-m {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.p-l {
  padding: 2rem;
}

.pb-l {
  padding-bottom: 2rem;
}

.pl-l {
  padding-left: 2rem;
}

.pr-l {
  padding-right: 2rem;
}

.pt-l {
  padding-top: 2rem;
}

.px-l {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-l {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.p-xl {
  padding: 3rem;
}

.pb-xl {
  padding-bottom: 3rem;
}

.pl-xl {
  padding-left: 3rem;
}

.pr-xl {
  padding-right: 3rem;
}

.pt-xl {
  padding-top: 3rem;
}

.px-xl {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-xl {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.p-2xl {
  padding: 5rem;
}

.pb-2xl {
  padding-bottom: 5rem;
}

.pl-2xl {
  padding-left: 5rem;
}

.pr-2xl {
  padding-right: 5rem;
}

.pt-2xl {
  padding-top: 5rem;
}

.px-2xl {
  padding-left: 5rem;
  padding-right: 5rem;
}

.py-2xl {
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.m-0 {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mr-0 {
  margin-right: 0;
}

.mt-0 {
  margin-top: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-0 {
  margin-bottom: 0;
  margin-top: 0;
}

.m-2xs {
  margin: 0.25rem;
}

.mb-2xs {
  margin-bottom: 0.25rem;
}

.ml-2xs {
  margin-left: 0.25rem;
}

.mr-2xs {
  margin-right: 0.25rem;
}

.mt-2xs {
  margin-top: 0.25rem;
}

.mx-2xs {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-2xs {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}

.m-xs {
  margin: 0.5rem;
}

.mb-xs {
  margin-bottom: 0.5rem;
}

.ml-xs {
  margin-left: 0.5rem;
}

.mr-xs {
  margin-right: 0.5rem;
}

.mt-xs {
  margin-top: 0.5rem;
}

.mx-xs {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-xs {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.m-s {
  margin: 1rem;
}

.mb-s {
  margin-bottom: 1rem;
}

.ml-s {
  margin-left: 1rem;
}

.mr-s {
  margin-right: 1rem;
}

.mt-s {
  margin-top: 1rem;
}

.mx-s {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-s {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.m-m {
  margin: 1.5rem;
}

.mb-m {
  margin-bottom: 1.5rem;
}

.ml-m {
  margin-left: 1.5rem;
}

.mr-m {
  margin-right: 1.5rem;
}

.mt-m {
  margin-top: 1.5rem;
}

.mx-m {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-m {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.m-l {
  margin: 2rem;
}

.mb-l {
  margin-bottom: 2rem;
}

.ml-l {
  margin-left: 2rem;
}

.mr-l {
  margin-right: 2rem;
}

.mt-l {
  margin-top: 2rem;
}

.mx-l {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-l {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.m-xl {
  margin: 3rem;
}

.mb-xl {
  margin-bottom: 3rem;
}

.ml-xl {
  margin-left: 3rem;
}

.mr-xl {
  margin-right: 3rem;
}

.mt-xl {
  margin-top: 3rem;
}

.mx-xl {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-xl {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.m-2xl {
  margin: 5rem;
}

.mb-2xl {
  margin-bottom: 5rem;
}

.ml-2xl {
  margin-left: 5rem;
}

.mr-2xl {
  margin-right: 5rem;
}

.mt-2xl {
  margin-top: 5rem;
}

.mx-2xl {
  margin-left: 5rem;
  margin-right: 5rem;
}

.my-2xl {
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.m-auto {
  margin: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-bottom: auto;
  margin-top: auto;
}

.gap-0 {
  gap: 0;
}

.gap-2xs {
  gap: 0.25rem;
}

.gap-xs {
  gap: 0.5rem;
}

.gap-s {
  gap: 1rem;
}

.gap-m {
  gap: 1.5rem;
}

.gap-l {
  gap: 2rem;
}

.gap-xl {
  gap: 3rem;
}

.gap-2xl {
  gap: 5rem;
}

/*******************
  Sizing
********************/
.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.maxw-xs {
  max-width: 375px;
}

.maxw-sm {
  max-width: 576px;
}

.maxw-md {
  max-width: 768px;
}

.maxw-lg {
  max-width: 1024px;
}

.maxw-xl {
  max-width: 1280px;
}

.maxw-xxl {
  max-width: 1600px;
}

.maxw-content {
  max-width: 650px;
}

.minw-xs {
  min-width: 375px;
}

.minw-sm {
  min-width: 576px;
}

.minw-md {
  min-width: 768px;
}

.minw-lg {
  min-width: 1024px;
}

.minw-xl {
  min-width: 1280px;
}

.minw-xxl {
  min-width: 1600px;
}

.minw-content {
  min-width: 650px;
}

/**********************
  Borders and shadows
***********************/
.border {
  border: 1px solid var(--color-stroke-strong);
}

.radius-s {
  border-radius: 4px;
}

.radius-m {
  border-radius: 8px;
}

.radius-l {
  border-radius: 16px;
}

.shadow-s {
  box-shadow: 0px 2px 4px 0px var(--color-stroke-weak);
}

.shadow-m {
  box-shadow: 0px 4px 6px 2px var(--color-stroke-weak);
}

.shadow-l {
  box-shadow: 0px 6px 8px 4px var(--color-stroke-weak);
}

/*# sourceMappingURL=style.css.map */
